<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome to our cosa!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Custom CSS -->
            <link href="{{ asset('css/pani-home.css') }}" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body>
        {% block body %}

            {% block navigation %}

                <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header"><a class="navbar-brand" href="{{ path('clinica_pani_homepage') }}">PANI</a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span><span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-menubuilder">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="{{ path('clinica_pani_vistametge') }}">Metges</a>
                                </li>
                                <li><a href="{{ path('clinica_pani_vistapacient') }}">Pacients</a>
                                </li>
                                {#<li><a href="{{ path('clinica_pani_vistavisita') }}">Visites</a>
                                </li>#}

                                <li><a href="{{ path('clinica_pani_vistavisites') }}">Llistat de Visites</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block page_content %}
                <div class="container">

                    <!-- Heading Row -->
                    <div class="row">
                        <div class="col-md-8">
                            <img class="img-responsive img-rounded" src="{{ asset('images/1.jpg') }}" alt="">
                        </div>
                        <!-- /.col-md-8 -->
                        <div class="col-md-4">
                            <h1>Confia en nosaltres</h1>
                            <p>En la clínica Pani sempre busquem que et sentis segur, oferint els millors serveis de tot el país.</p>
                            <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->

                    <hr>


                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Heading 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>Heading 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>Heading 3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->

                    <!-- Footer -->


                </div>   
            {% endblock %}
            <footer>
                <div class="footer-bottom">
                    <div class="container">
                        <p class="pull-left"> Clinica Pani </p>
                    </div>
                </div>
                <!--/.footer-bottom--> 
            </footer>

            <!-- /.container -->
        {% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}    
    </body>
</html>

