{% extends "clinicaPaniBundle:Default:index.html.twig " %}
{% block title %}Visites{% endblock %}
{% block page_content %}
    <div class="container">
        <h1> Inicia Sessió </h1>

        
       {# {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}


            {{app.usuari.usuari}}  {{ app.usuari.rol }}     

        {%endif%}

        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <input type="hidden" name="{{ path('clinica_pani_homepage') }}" />

            <button type="submit">login</button>
        </form>#}
       
       {{ form_start(form)}}
       {{ form_widget(form)}}
       {{ form_end(form)}}
       
       

    </div>
{% endblock %}