{% extends "clinicaPaniBundle:Default:index.html.twig " %}
{% block title %}Visites{% endblock %}
{% block page_content %}
    {#<h4>Test</h4>
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
        <th>REF</th>
        <th>Data</th>
        <th>Hora</th>
    </thead>
    <tbody>
        {% for visites in Visites %}
            <tr>
                <td>{{ visites.ref }}</td>
                <td>{{ visites.data|date('d-m-Y') }}</td>
                <td>{{ visites.hora|date('H:i:s') }}</td>metgevisitat pacientvisitat
                <td><a href="{{ path('clinica_pani_detallsvisita',{'ref': visites.ref}) }}">Veure Detalls</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>#}
    <div class="container">
        <h1> Administració de visites </h1>    
        <div class="panel panel-default panel-table table-responsive">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="panel-title">{{ titol }}</h3>
                    </div>
                    {#<div class="col col-xs-12 text-right">
                        <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                        <a class="btn btn-info" href="{{ path('clinica_pani_afgrpacient')}}">Afegir Pacient</a>
                    </div>#}
                </div>
            </div>
            <div class="panel-body ">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th>REF</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Metge</th>
                            <th>Pacient</th>
                            <th><em class="fa fa-cog"></em></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            {% for visites in Visites %}
                            <tr>
                                <td align="center">
                                    <a class="btn btn-default" href="{#{{ path('clinica_pani_modipacient',{'dni': visites.ref}) }}#}#"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-danger" href="{#{{ path('clinica_pani_elimpacient',{'dni': visites.ref}) }}#}#"><em class="fa fa-trash"></em></a>
                                </td>
                                <td>{{ visites.ref }}</td>
                                <td>{{ visites.data|date('d-m-Y') }}</td>
                                <td>{{ visites.hora|date('H:i:s') }}</td>
                                <td>{{ visites.metgevisitat.nom }}</td>
                                <td>{{ visites.pacientvisitat.nom }}</td>
                                <td align="center">
                                    <a class="btn btn-info" href="{{ path('clinica_pani_detallsvisita',{'ref': visites.ref}) }}">Veure Detalls</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}